{% extends 'base.html' %}
{% block content %}
<h2>Editar Aluno</h2>

<form method="POST">
    <input type="text" name="nome" value="{{ aluno.nome }}" required>
    <input type="text" name="cpf" value="{{ aluno.cpf }}" required>
    <input type="text" name="telefone" value="{{ aluno.telefone }}" required>
    <input type="text" name="plano" value="{{ aluno.plano }}" required>
    <input type="date" name="data_pagamento" value="{{ aluno.data_pagamento }}" required>
    <input type="date" name="data_vencimento" value="{{ aluno.data_vencimento }}" required>

    <button type="submit">Atualizar</button>
</form>
{% endblock %}
